*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    min-width:100%;
    min-height:100vh;
    position: absolute;
    scroll-behavior: smooth;
}
@font-face {
    font-family:'KomikaTextTightRegular' ;
    src: url(KOMTXTT_.ttf);
}
@font-face {
    font-family: 'texas';
    src: url(Montserrat-SemiBold.ttf);
}
body
{
    background-color: black;
    background-image: url(bg-body.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.main-continer
{
    width: 85%;
    height:100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
header
{  
    position: relative;
    width:100%;
    height: 100;
    font-size: 1.3rem;
    text-shadow: 2px 2px 1px black;
}
header .logo
{
    position: relative;
    width:13vw;
    height:13vw;
    left:20%;
}
.logo img{
    width:13vw;
    height:13vw;
}
header .options
{
    position: relative;
    display: flex;
    list-style: none;
    float: right;
    color:white;
    margin-right:20px;
}
.options li {
    margin-left:50px;
    border-top-right-radius: 5px;
    border-top-left-radius:15px;
    border-bottom: 40px solid transparent;
    border-left: 10px solid transparent;
    height: 0;
    width: 100px;
}
.options li:hover{
    border-bottom: 40px solid #f3b000;
}
li a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:6px;
    text-decoration: none;
    color:white;
}
main{
    position:relative;
    width:100%;
    margin-bottom: 20px;
}
.banner-container
{
    position: relative;
    width:100%;
    height:18vw;
    background-image: url(website\ MC\ banner.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}
.slider
{
    position:relative;
    max-width: 50vw;
    height:18vw;
    overflow: hidden;
    margin:0 auto;
}
.slider img{
    width:50vw;
    height:17vw;
    object-fit: cover;
    position: relative;
    margin: 7px;
    border:2px solid white;
}
.page-content
{
    height:100; 
    margin-top:10px;
}
.Comics
{
    width:100%;
    height:100;
    border-radius: 10px;
    position: relative;
    font-size: 1.3rem;
    background-color: white;
    background-image: url(content-page-curl.jpg);
    background-repeat: no-repeat;
    background-position: bottom right !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.Comics .btn-all
{
    width:95%;
    margin-right:0;
    position:relative;
}
.btn-all button
{
    position: relative;
    float:right;
    width:100px;
    height:25px;
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 1.3rem;
    text-shadow:1px 1px 1px #000;
}
.btn-all button:hover{
    background-color: #f3b000;
}
.com-con
{
    width:100%;
    height:100;
    display: flex;
    position: relative;
    font-size: 1.3rem;
    flex-wrap: wrap;
    font-family:'texas',arial,sans-serif !important;
}
.com-books
{
    /*flex: 1;*/
    width:25vw;
    height:50vw;
    background-color: #f4f5f9;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    margin:10px;
    list-style: none;
    position: relative;
}
.com-cover
{
    position: relative;
    background-color: #f3b000;
    width:25vw;
    height:30vw;
}
.com-cover img{
    width:25vw;
    height:30vw;
    object-fit: cover;
}
.com-content{
    position: relative;
    margin:0 auto;
    height:3vw;
    margin-top:1.2rem;
    text-align: center;
    color: #344056;
}
.com-content h1{
    font-weight: bold;
}
.com-content p{
    margin:1rem;
    font-size:1rem;
    color: #91959e;
}
.com-content .story
{
    height:150px;
}
.com-content .story p{
    color:#344056;
}
.com-books:hover{
    box-shadow: 1px 1px 10px black;
}
.com-books .post-date
{
    bottom: 0;
    position: absolute;
    right:0;
    font-size:0.9rem;
    padding: 0.4rem;
    color: #91959e;
}
.About
{
    width:100%;
    height:100;
    background-color: white;
    border-radius:10px;
    position: relative;
    margin-top:10px;
    background-image: url(content-page-curl.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 10px;
}
.About .about-context
{
    margin:20px;
    font-family: texas;
    text-align: justify;
}
.About .ab-con
{
    margin:20px;
    font-family: texas;
    text-align: justify;
}
.About .members
{
    width:100;
    height:100;
    margin-bottom: 40px;
}
.members .mem-list
{
    height: 100;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.mem-list li{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}
.mem-list li img{
   width:150px;
   height:150px;
   border-radius: 50%;
   object-fit: contain;
}
.Contact
{
    width:100%;
    height:100px;
    background-color: white;
    border-radius:10px;
    position: relative;
    margin-top:10px;
    background-image: url(content-page-curl.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 10px;
}
footer{
    width:85%;
    height: 3vw;
    background-color: #000;
    position:static;
    bottom: 0;
    margin:0 auto;
    background-image: url(bg-footer-line.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    color:white;
    background-color: #000;
    display:flex;
    text-align: center;
    justify-content: center;
}
footer .copy
{
    margin:10px;
}